body {
    background-image: url("funky-lines.png");

}

.jumbotron {
    /* border: 2px solid; */
    margin-top: 1px;
    background-image: url("airplain.jpg");
    background-size: cover;
    
}
    

/* .card-header1 {
    margin-top: 1px;
    background-image: url("../images/triforce.jpg");
    background-size: contain;
} */

 
